<component name="ArtifactManager">
  <artifact type="war" name="springMVC_demo03:war">
    <output-path>$PROJECT_DIR$/springMVC_demo03/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVC_demo03</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMVC_demo03-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springMVC_demo03:war exploded" />
    </root>
  </artifact>
</component>